<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713463058330-58mqrskopcq77n8o0s7tof5q4k7mei7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713463058330-58mqrskopcq77n8o0s7tof5q4k7mei7e</string>
	<key>API_KEY</key>
	<string>AIzaSyBCY5MjY5vdlhvnr4K2T5tFPyNp6QvKJ2k</string>
	<key>GCM_SENDER_ID</key>
	<string>713463058330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Toulouse.MuralAR</string>
	<key>PROJECT_ID</key>
	<string>vibra-toulouse</string>
	<key>STORAGE_BUCKET</key>
	<string>vibra-toulouse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713463058330:ios:b40a1196ae2df0b7a33423</string>
</dict>
</plist>